extends ../layout
block content
    .container
        .row
            form.form-horizontal(method='post',action='/admin/movie/new',enctype='multipart/form-data')
                if movie._id
                    input(type='hidden',name='movie[_id]',value=movie._id)
                .form-group
                    label.col-md-2.control-label 豆瓣同步
                    .col-md-10
                        input#douban.form-control(type='text')
                .form-group
                    label.col-md-2.control-label(for='inputTitle') 电影名字
                    .col-md-10
                        input#inputTitle.form-control(type='text',name='movie[title]',value=movie.title)
                .form-group
                    label.col-md-2.control-label(for='inputCatetoryName') 自定分类
                    .col-md-10
                        input#inputCatetoryName.form-control(type='text',name='movie[catetoryName]',value=movie.catetoryName)
                .form-group
                    label.col-md-2.control-label 分类选择(若存在)
                    .col-md-10
                        each cat in catetories
                            label.radio-inline
                                if movie._id
                                    input(type="radio", name="movie[catetory]", value=cat._id,checked=cat._id.toString()==movie.catetory.toString())
                                    #{cat.name}
                                else
                                    input(type="radio", name="movie[catetory]", value=cat._id)
                                    #{cat.name}
                .form-group
                    label.col-md-2.control-label(for='inputDirector') 电影导演
                    .col-md-10
                        input#inputDirector.form-control(type='text',name='movie[director]',value=movie.director)
                .form-group
                    label.col-md-2.control-label(for='inputCountry') 国家
                    .col-md-10
                        input#inputCountry.form-control(type='text',name='movie[country]',value=movie.country)
                .form-group
                    label.col-md-2.control-label(for='inputLanguage') 语种
                    .col-md-10
                        input#inputLanguage.form-control(type='text',name='movie[language]',value=movie.language)
                .form-group
                    label.col-md-2.control-label(for='inputPoster') 海报地址
                    .col-md-10
                        input#inputPoster.form-control(type='text',name='movie[poster]',value=movie.poster)
                .form-group
                    label.col-md-2.control-label(for='uploadPoster') 上传海报
                    .col-md-10
                        input#uploadPoster(type='file',name='uploadPoster')
                .form-group
                    label.col-md-2.control-label(for='inputFlash') 片源地址
                    .col-md-10
                        input#inputFlash.form-control(type='text',name='movie[flash]',value=movie.flash)
                .form-group
                    label.col-md-2.control-label(for='inputYear') 上映年代
                    .col-md-10
                        input#inputYear.form-control(type='text',name='movie[year]',value=movie.year)
                .form-group
                    label.col-md-2.control-label(for='inputSummary') 电影简介
                    .col-md-10
                        input#inputSummary.form-control(type='text',name='movie[summary]',value=movie.summary)
                .form-group
                    .col-md-offset-5.col-sm-1
                    button.btn.btn-primary(type="submit") 录入
    script(src='/javascript/admin.js')